<p id="notice"><%= notice %></p>

<h1>
  <%= @collection.name %>
</h1>

<% Jewel.where(collection_id: @collection.id). each do |jewel| %>
<tbody>
      <tr>
       </br>
        <td><%= image_tag(jewel.image, :alt => jewel.name, :size => "260x180") %></td>
        </br>
        <td><h3><%= jewel.name %></h3></td>
        </br>
        <td>Description:</td>
        <td><%= jewel.description %></td>
        </br>
        <td>Price:</td>
        <td>$<%= jewel.price %></td>
        </br>
        <td>In Stock:</td>
        <td><%= jewel.available %></td>
        </br>
        <td><%= link_to 'Buy', flop_jewel_path(jewel) %></td>
        <td> </td>
        <td> | </td>
        <td><%= link_to 'Sell', sell_jewel_path(jewel) %></td>
        </br>
      </tr>
</tbody>

<% end %>
</br>
</br>
<%= link_to 'Back', collections_path %>
